<ion-header>

  <ion-navbar color="biruTua">
    <ion-title>{{data.judul}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img [src]="data.foto" alt="gambar">

  <p>{{data.deskripsi}}</p>

  <h3>Bahan</h3>
  <ul>
    <li *ngFor="let x of data.bahan">{{x}}</li>
  </ul>

  <h3>Alat</h3>
  <ul>
    <li *ngFor="let x of data.alat">{{x}}</li>
  </ul>

  <h3 text-center>Cara Memasak</h3>
  <iframe 
    width="100%"
    height="auto"
    [src]="data.youtube" 
    frameborder="0"
    allowfullscreen></iframe>
  <ol>
    <li *ngFor="let x of data.caraMasak">{{x}}</li>
  </ol>

</ion-content>
