page-daftar {
    .logo{
        width: 20vw;
        height: 20vw; 
        margin-top: 15vh;
    }

    .background{
        background: 
        linear-gradient(rgba(255, 255, 255, 0.75)),
        url("https://cdn.pixabay.com/photo/2016/12/10/21/26/food-1898194_640.jpg");
    }

    .item-md{
        background: rgba(0, 0, 0, 0)
    }

}
