<ion-header>

  <ion-navbar color="biruTua">
    <ion-title text-center>Favorit</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row *ngFor="let data of dataResep">
      <ion-col col-8>
        <h2>{{data.judul}}</h2>
        <p class="deskripsi">{{data.deskripsi}}</p>
      </ion-col>
      <ion-col col-4>
        <button class="fav" clear ion-button icon-only (click)="ubahFav(data)">
          <ion-icon *ngIf="!data.favorit" name="heart-outline"></ion-icon>
          <ion-icon *ngIf="data.favorit" color="danger" name="heart"></ion-icon>
        </button>
        <img
          [src]="data.foto"
          alt="gambar resep"
          class="gambar">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>