page-favorit {
    .fav{
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        border-radius: 100%;
    }

    .gambar{
        height: 20vw;
        width: 30vw;
    }

    .deskripsi{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.3em;     /* fallback */
        max-height: 2.6em;      /* fallback */
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

}
